<?xml version="1.0" encoding="UTF-8"?>
<svg width="20px" height="20px" viewBox="0 0 17 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 46 (44423) - http://www.bohemiancoding.com/sketch -->
    <title>Pinterest</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.5">
        <g id="The-Brand" transform="translate(-239.000000, -3252.000000)" fill="#FFFFFF">
            <g id="Group-5" transform="translate(0.000000, 2299.903916)">
                <g id="Group-3" transform="translate(0.000000, 58.259541)">
                    <g id="Group-4" transform="translate(0.000000, 840.000000)">
                        <g id="Group-10" transform="translate(110.000000, 54.128320)">
                            <g id="Pinterest" transform="translate(129.212135, 0.217364)">
                                <path d="M8.41169243,0.336646393 C3.77478164,0.336646393 0.0146972591,4.09574336 0.0146972591,8.73364156 C0.0146972591,12.1708405 2.0823487,15.1251926 5.0416378,16.4236461 C5.01793979,15.8381077 5.03768814,15.1330919 5.18678812,14.4952204 C5.34872453,13.8139026 6.26702245,9.92051693 6.26702245,9.92051693 C6.26702245,9.92051693 5.99943241,9.38434944 5.99943241,8.59145349 C5.99943241,7.34730793 6.72123432,6.41814842 7.61879648,6.41814842 C8.38206991,6.41814842 8.75136391,6.99183776 8.75136391,7.67908008 C8.75136391,8.44630318 8.26160502,9.59466929 8.00981366,10.6581175 C7.79949381,11.5497552 8.4561262,12.2755068 9.33492743,12.2755068 C10.9256564,12.2755068 11.997004,10.2325407 11.997004,7.81139397 C11.997004,5.97183588 10.7577955,4.594389 8.50352222,4.594389 C5.95697347,4.594389 4.37019416,6.49319212 4.37019416,8.61416409 C4.37019416,9.34682759 4.5854511,9.86225932 4.92314775,10.2611758 C5.07915965,10.4458228 5.09989541,10.5188917 5.04361264,10.730199 C5.00411595,10.8832486 4.91129874,11.2564923 4.87278948,11.4036174 C4.8165067,11.6159121 4.64469612,11.6929307 4.4531372,11.6139373 C3.27909825,11.13504 2.73305658,9.85041032 2.73305658,8.40581908 C2.73305658,6.02120674 4.74442525,3.15967193 8.73359041,3.15967193 C11.9397338,3.15967193 14.0498442,5.48108958 14.0498442,7.97036813 C14.0498442,11.2643916 12.2191728,13.7250351 9.51858701,13.7250351 C8.61312552,13.7250351 7.75999713,13.2352762 7.46772166,12.6793604 C7.46772166,12.6793604 6.97993761,14.6137105 6.87724622,14.9869542 C6.69951114,15.6337124 6.3509529,16.281458 6.03201717,16.7850407 C6.78739127,17.008197 7.5852243,17.1296493 8.41169243,17.1296493 C13.0486032,17.1296493 16.8077002,13.3705523 16.8077002,8.73364156 C16.8077002,4.09574336 13.0486032,0.336646393 8.41169243,0.336646393"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>