<?xml version="1.0" encoding="UTF-8"?>
<svg width="20px" height="20px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 46 (44423) - http://www.bohemiancoding.com/sketch -->
    <title>Facebook</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.5">
        <g id="The-Brand" transform="translate(-110.000000, -3252.000000)" fill="#FFFFFF">
            <g id="Group-5" transform="translate(0.000000, 2299.903916)">
                <g id="Group-3" transform="translate(0.000000, 58.259541)">
                    <g id="Group-4" transform="translate(0.000000, 840.000000)">
                        <g id="Group-10" transform="translate(110.000000, 54.128320)">
                            <g id="Facebook" transform="translate(0.428571, 0.217364)">
                                <path d="M1.02988712,16.9855446 C0.517854868,16.9855446 0.103042277,16.5704746 0.103042277,16.0586418 L0.103042277,1.11937936 C0.103042277,0.607416241 0.517920029,0.192541708 1.02988712,0.192541708 L15.9692655,0.192541708 C16.4811023,0.192541708 16.8960452,0.607416241 16.8960452,1.11937936 L16.8960452,16.0586418 C16.8960452,16.5705398 16.4810371,16.9855446 15.9692655,16.9855446 L11.6899712,16.9855446 L11.6899712,10.4823684 L13.8727873,10.4823684 L14.199633,7.94796525 L11.6899712,7.94796525 L11.6899712,6.32990896 C11.6899712,5.59614077 11.8937285,5.09610195 12.9459424,5.09610195 L14.2879908,5.09551551 L14.2879908,2.82872499 C14.0558887,2.79783909 13.2592348,2.72883451 12.3323899,2.72883451 C10.3974449,2.72883451 9.07272924,3.90992699 9.07272924,6.07891215 L9.07272924,7.94796525 L6.88430938,7.94796525 L6.88430938,10.4823684 L9.07272924,10.4823684 L9.07272924,16.9855446 L1.02988712,16.9855446 Z"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>