<?xml version="1.0" encoding="UTF-8"?>
<svg width="15px" height="15px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 46 (44423) - http://www.bohemiancoding.com/sketch -->
    <title>Pinterest</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Product-Detail" transform="translate(-1006.000000, -639.000000)" fill="#000000">
            <g id="Group-14" transform="translate(891.289350, 638.190084)">
                <g id="Group-10" transform="translate(0.000000, 0.380755)">
                    <g id="Pinterest" transform="translate(115.610858, 0.194484)">
                        <path d="M7.52625112,0.301209931 C3.37743621,0.301209931 0.0131501792,3.66461248 0.0131501792,7.81431087 C0.0131501792,10.8896994 1.8631541,13.533067 4.51093909,14.6948412 C4.4897356,14.1709385 4.50740517,13.5401349 4.64081042,12.9694078 C4.78570089,12.3598076 5.60733587,8.87625199 5.60733587,8.87625199 C5.60733587,8.87625199 5.36791321,8.39652318 5.36791321,7.68708997 C5.36791321,6.57390709 6.01373597,5.74255385 6.8168179,5.74255385 C7.49974676,5.74255385 7.83016771,6.25585484 7.83016771,6.87075586 C7.83016771,7.55721863 7.39196239,8.5847041 7.16667538,9.53621041 C6.97849446,10.3339915 7.56600765,10.9833482 8.35230349,10.9833482 C9.77558731,10.9833482 10.7341615,9.15543119 10.7341615,6.98914198 C10.7341615,5.34322158 9.62539597,4.11076911 7.60841462,4.11076911 C5.32992363,4.11076911 3.91017373,5.80969821 3.91017373,7.70740997 C3.91017373,8.362951 4.10277203,8.82412676 4.40492167,9.18105207 C4.54451127,9.34626254 4.56306432,9.41163995 4.51270604,9.60070434 C4.47736691,9.73764351 4.39431993,10.0715984 4.35986427,10.2032367 C4.309506,10.3931845 4.15578074,10.4620959 3.98438592,10.3914176 C2.93393001,9.96293052 2.44536642,8.81352502 2.44536642,7.52099602 C2.44536642,5.3873955 4.24501207,2.82707489 7.8142651,2.82707489 C10.6829197,2.82707489 12.5709132,4.90413278 12.5709132,7.13138201 C12.5709132,10.0786662 10.9329441,12.2802946 8.51663049,12.2802946 C7.70648073,12.2802946 6.94315532,11.8420892 6.6816457,11.3446908 C6.6816457,11.3446908 6.24520733,13.0754252 6.15332557,13.40938 C5.99429944,13.9880584 5.68243154,14.5676203 5.397068,15.0181943 C6.07292903,15.2178605 6.78677964,15.3265283 7.52625112,15.3265283 C11.675066,15.3265283 15.0384686,11.9631258 15.0384686,7.81431087 C15.0384686,3.66461248 11.675066,0.301209931 7.52625112,0.301209931"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>