<?xml version="1.0" encoding="UTF-8"?>
<svg width="20px" height="20px" viewBox="0 0 17 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 46 (44423) - http://www.bohemiancoding.com/sketch -->
    <title>Twitter</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.5">
        <g id="The-Brand" transform="translate(-153.000000, -3254.000000)" fill="#FFFFFF">
            <g id="Group-5" transform="translate(0.000000, 2299.903916)">
                <g id="Group-3" transform="translate(0.000000, 58.259541)">
                    <g id="Group-4" transform="translate(0.000000, 840.000000)">
                        <g id="Group-10" transform="translate(110.000000, 54.128320)">
                            <g id="Twitter" transform="translate(42.569058, 1.616781)">
                                <path d="M17.1132763,1.87231382 C16.4962416,2.15330906 15.8318943,2.34333461 15.1350197,2.42823964 C15.8466795,1.99158518 16.3927454,1.29920484 16.6500074,0.474413074 C15.9836888,0.878722762 15.2473871,1.17285806 14.4608157,1.33053884 C13.8339242,0.644223143 12.9379426,0.215654873 11.9463501,0.215654873 C10.0449765,0.215654873 8.50238976,1.79751653 8.50238976,3.74831078 C8.50238976,4.02526291 8.53196011,4.29412886 8.59110081,4.55288706 C5.72770506,4.40531402 3.18958317,3.00033785 1.48928793,0.860528826 C1.19259873,1.38410987 1.02306205,1.99158518 1.02306205,2.63848068 C1.02306205,3.86353904 1.63122562,4.94506746 2.55579196,5.57882289 C1.99198392,5.56163973 1.45971758,5.40092663 0.994477376,5.13812533 L0.994477376,5.18158862 C0.994477376,6.89384015 2.18221985,8.32206413 3.75930529,8.64551188 C3.47050152,8.72839537 3.16592689,8.76983711 2.85149548,8.76983711 C2.62971784,8.76983711 2.41286859,8.74861085 2.2029191,8.70716911 C2.64154598,10.1101237 3.91307112,11.1320165 5.42115907,11.1593074 C4.24228771,12.1074136 2.75588468,12.6724364 1.14232914,12.6724364 C0.864367827,12.6724364 0.589363553,12.656264 0.32027335,12.6239192 C1.84511784,13.6245857 3.65679474,14.209824 5.60153822,14.209824 C11.9394503,14.209824 15.4041099,8.82745124 15.4041099,4.15868511 C15.4041099,4.00504743 15.4011529,3.85140975 15.3952388,3.70080439 C16.0684572,3.2024927 16.6529645,2.58086655 17.1132763,1.87231382"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>