<?xml version="1.0" encoding="UTF-8"?>
<svg width="15px" height="15px" viewBox="0 0 16 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 46 (44423) - http://www.bohemiancoding.com/sketch -->
    <title>Twitter</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Product-Detail" transform="translate(-929.000000, -640.000000)" fill="#000000">
            <g id="Group-14" transform="translate(891.289350, 638.190084)">
                <g id="Group-10" transform="translate(0.000000, 0.380755)">
                    <g id="Twitter" transform="translate(38.088104, 1.446594)">
                        <path d="M15.3118788,1.67522816 C14.7597951,1.92664494 14.1653791,2.09666781 13.5418597,2.17263547 C14.178608,1.78194463 14.6671932,1.16244643 14.8973751,0.424474856 C14.3011953,0.78622563 13.6423989,1.04939932 12.9386246,1.19048212 C12.3777217,0.576410181 11.5760539,0.19295436 10.6888396,0.19295436 C8.98761051,0.19295436 7.60740136,1.60830426 7.60740136,3.35375175 C7.60740136,3.60155103 7.63385904,3.84211529 7.68677441,4.07363579 C5.12478873,3.94159676 2.85383758,2.68451282 1.33252078,0.769946845 C1.06706203,1.2384141 0.915371307,1.78194463 0.915371307,2.36074587 C0.915371307,3.45685072 1.45951766,4.42453404 2.28676123,4.99157838 C1.7823014,4.97620397 1.3060631,4.83240804 0.889795547,4.59727003 L0.889795547,4.63615824 C0.889795547,6.16817277 1.9525125,7.44605738 3.36358894,7.735458 C3.10518557,7.80961691 2.83267143,7.84669636 2.55133806,7.84669636 C2.35290544,7.84669636 2.15888243,7.82770445 1.97103287,7.79062499 C2.36348851,9.04590018 3.5011689,9.96022526 4.85051075,9.98464344 C3.79573111,10.832949 2.46579155,11.3384957 1.02208396,11.3384957 C0.77338174,11.3384957 0.527325284,11.3240257 0.286560365,11.2950856 C1.65089491,12.1904188 3.27186897,12.714053 5.01190262,12.714053 C10.6826661,12.714053 13.7826247,7.89824585 13.7826247,3.72092878 C13.7826247,3.58346349 13.7799789,3.4459982 13.7746874,3.31124603 C14.3770406,2.8653882 14.9000208,2.30919639 15.3118788,1.67522816"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>