<?xml version="1.0" encoding="UTF-8"?>
<svg width="15px" height="15px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 46 (44423) - http://www.bohemiancoding.com/sketch -->
    <title>Facebook</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Product-Detail" transform="translate(-891.000000, -638.000000)" fill="#000000">
            <g id="Group-14" transform="translate(891.289350, 638.190084)">
                <g id="Group-10" transform="translate(0.000000, 0.380755)">
                    <g id="Facebook" transform="translate(0.383459, 0.194484)">
                        <path d="M8.11770511,15.1975926 L0.921477953,15.1975926 C0.463343829,15.1975926 0.0921957215,14.8262141 0.0921957215,14.3682585 L0.0921957215,1.00154996 C0.0921957215,0.543477689 0.463402131,0.17227416 0.921477953,0.17227416 L14.2882902,0.17227416 C14.7462494,0.17227416 15.1175141,0.543477689 15.1175141,1.00154996 L15.1175141,14.3682585 C15.1175141,14.8262724 14.7461911,15.1975926 14.2882902,15.1975926 L10.459448,15.1975926 L10.459448,9.37896121 L12.4124939,9.37896121 L12.7049348,7.11133733 L10.459448,7.11133733 L10.459448,5.66360276 C10.459448,5.00707332 10.6417571,4.55967016 11.5832117,4.55967016 L12.7839918,4.55914545 L12.7839918,2.53096446 C12.5763214,2.50332971 11.8635258,2.44158878 11.0342436,2.44158878 C9.30297703,2.44158878 8.11770511,3.49835572 8.11770511,5.43902666 L8.11770511,7.11133733 L6.15964523,7.11133733 L6.15964523,9.37896121 L8.11770511,9.37896121 L8.11770511,15.1975926 L8.11770511,15.1975926 Z"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>