<!-- HC - Custom timeline section - 17 Jan '18 -->
<section class="timeline">
  <div class="container">
    <div class="page-header">
    </div>
    <div class="timeline-badge initial"><i class="glyphicon glyphicon-check"></i></div>
      <ul class="timeline">
        {% assign count = 0 %}
        
        {% for block in section.blocks %}
        {% assign count = count | plus: 1 %}
        
        <li {% cycle '', 'class="timeline-inverted"' %}>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel reveal">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{ block.settings.title }}</h4>
              {% if block.settings.image %}
              <img src="{{ block.settings.image | img_url: '320x' }}" alt="{{ block.settings.title }}">
              {% endif %}
            </div>
            <div class="timeline-body">
              <p>{{ block.settings.description }}</p>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    <div class="timeline-badge final"><i class="glyphicon glyphicon-check"></i></div>
  </div>
</section>

{% schema %}
  {
    "name": "Timeline",
    "settings": [],
	"blocks": [
      {
        "type": "event",
        "name": "Event",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          },
		  {
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		  },
          {
            "type": "textarea",
            "id": "description",
            "label": "Description",
            "default": "Some text about the brand."
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
