.sk-desk-nav {
 display: none; 
}


.video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.video-wrap-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}



@media (min-width: 1251px) {
  
.sk-desk-nav {
    display: flex; 
   justify-content: space-between;
   align-items: flex-end;
   width: 100%;
}
  
  .placeholder {
   width: 229px;
  }


.sk-desk-logo-nav {
 display: flex;
  flex-direction: column;
  align-items:center;
}


  
  .mob-search-wrap {
   display: none !important; 
  }


 .m-nav-icons {
  display: none !important; 
 }
  
   .site-header__logo-image--centered {
    display: none !important; 
   }
  
  #mobile-logo-hide {
   display: none; 
  }
  
  .site-nav__link--main {
   font-size: 11px; 
  }
  
  .site-header {
   padding: 0 2%; 
  }
  
  
  .desktop-navigation {
    padding-left: 40px !important;
  }
}




@media (max-width: 1250px) {
.site-header__logo {
  display: none !important;
}

.site-nav {
 display: none !important; 
}
}